*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: chocolate;
}
.newbox{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    border: 5px solid red;
}
.btns{
    margin:40px auto;
    width: 24%;
    
}
#show,#hide,#slide,#slide1,#css3{
    padding: 10px 15px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}